.cf-video-popup {
    margin-top: 150px;
    padding-bottom: 54px;
    &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 115px;
        h2 {
            font-family: $primary-font-bold;
            font-weight: bold;
            font-size: 42px;
            line-height: 52px;
            text-align: center;
            color: #333333;
            margin-bottom: 70px;
        }
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .shadow-content {
                background-image: url('../../img/crowdfunding/shadow-video.svg');
                background-size: 100%;
                width: 783px;
                height: 406px;
                position: absolute;
                top: 32px;
                z-index: 1;
            }
            .content {
                background-size: cover;
                background-position: center center;
                width: 740px;
                height: 416px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                z-index: 2;
            }
        }
    }
    .cf-list-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        padding-bottom: 68px;
        .item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            max-width: 230px;
            text-align: center;
            &:nth-child(3) {
                max-width: 287px;
            }
            .icon-container {
                height: 85px;
                margin-bottom: 32px;
            }
            p {
                font-family: $primary-font;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #333333;
            }
        }
    }
    .btn-primary {
        background: $primary-pink;
        border-radius: 50px;
        color: $white;
        display: block !important;
        font-family: $primary-font;
        font-weight: normal;
        font-size: 17px !important;
        line-height: 17px !important;
        margin: 40px auto 0 !important;
        text-align: center;
        padding: 20px 40px !important;
        height: 59px;
        width: 220px;
    }
}

@media ( max-width: $mobile ) {
    .cf-video-popup {
        &__body {
            padding: 0;
            width: 100%;
            &__container {
                width: 100%;
                padding: 0 10px;
                .shadow-content {
                    height: 250px;
                }
                .content {
                    width: 100%;
                    height: 250px;
                }
            }
        }
        .cf-list-items {
            padding: 0 15px;
            flex-wrap: wrap;
            justify-content: space-around;
            .item {
                margin-bottom: 30px;
            }
        }
    }
}