
.featured-sites {
    //background-color: #f7f7f7;
    position: relative;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(247,247,247,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    padding-bottom: 50px;
    

    .container {
        max-width: 1180px;
        position: relative;
    }
    .header{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px 19px;
        h2 {
            font-family: $primary-font-bold;
            font-weight: $bold;
            font-size: 32px;
            line-height: 1.3em;
            color: #333333;
    
            @media (max-width: $mobile){
                font-size: 30px;
                padding-left: 0;
                margin-bottom: 0;
            }
        }
        a {
            font-family: $primary-font;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $baby-blue;
            display: block;
            border-bottom: none !important;
            min-width: 92px;
            width: auto;
            transition: .3s all;
            @media (max-width: $mobile) {
                display: none;
            }
            img {
                margin-left: 5px;
                transition: .3s all;
                position: relative;
                top: 1px;
            }
            &:hover {
                img {
                    transform: translateX(5px);
                }
            }
        }
    }


    // Arrows
    .prev {
        position: absolute;
        left: -30px;
        top: 200px;
        cursor: pointer;
        transition: transform .5s;
        &:hover {
            transform: scale(1.1);
        }
        //Mobile 
        @media(max-width: $mobile){
            left: -14px;
            display: none !important;
        }
    }

    .next {
        @extend .prev;
        right: -30px;
        left: auto;
        //Mobile 
        @media(max-width: $mobile){
            right: -14px;
            display: none !important;
        }
    }


    // site Card
    .site-card {
        width: 30%;
        padding: 15px;
        
        &__img {
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 250px;
            background-color: #f1f1f1;
            position: relative;
        }
        &__img-title {
            position: absolute;
            left: 30px;
            bottom: 0;
            font-size: 14px;
            font-family: $primary-font;
            font-weight: $semibold;
            color: $white;
            line-height: 1.5em;
            letter-spacing: 2px;
            padding-bottom: 15px;
            text-transform: uppercase;

            // mobile
            @media (max-width: $mobile) {
                font-size: 14px;
            }
        }

        &__content {
            padding: 25px 30px;
            background-color: $white;
        }

        

        &__link {
            font-size: 18px;
            font-family: $primary-font;
            font-weight: $regular;
            line-height: 1.5em;
            color: $turquoise !important;
            width: 100%;
            position: relative;
            display: block;
            
            &:hover {
                opacity: .8;
            }
        }

        &__link-arrow {
            position: absolute;
            right: 0;
            top: 5px;
        }
    } 

}