.blogging-grid-container {
    background: $white !important;
    margin: 0 auto 100px;
    padding: 0;
    width: 100%;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 0;
        margin-top: 0;
        h2 {
            font-family: $primary-font;
            font-size: 30px;
            border-bottom: 0px;
            padding: initial;
            color: inherit;
        }
    }
    .header_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 0;
        margin-top: 0;
        h2 {
            font-family: $primary-font;
            font-size: 30px;
            border-bottom: 0px;
            padding: initial;
            color: inherit;
        }
    }
    .body {
        .blogging-grid-item, .blogging-grid-item-grid {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            text-decoration: none;
            max-width: 100%;
            width: 100%;
            background-color: #f5f5f5;

            a {
                overflow: hidden;
                background-size: cover;
                background-position: center center;
                height: 240px;
                width: 371px;
                position: relative;
            }

            // Tag
            .blogging-header__channel-body__tag {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 82px;
                background-color: $primary-pink;
                padding: 5px 18px;
                font-size: 12px;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $primary-font;
                z-index: 3;
            }

            .content {
                padding: 25px 71px;
                flex: 1 1 0;
                overflow: hidden;

                h2 {
                    color: $black;
                    font-family: $primary-font;
                    font-size: 25px;
                    font-weight: $regular;
                    line-height: 30px;
                    &:hover {
                       color: rgba(0,0,0, 0.7);
                    }
                }
                h4 {
                    color: rgba($black, 0.7);
                    font-family: $primary-font;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 25px;
                }
                
                p {
                    color: $black;
                    font-size: 16px;
                    line-height: 25px;
                    margin-top: 9px;
                    font-weight: 300;
                }

                // Author
                .content-author-container {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 24px;

                    .content-author-img {
                        width: 67px;
                        margin-right: 14px;
                    }

                    .content-author-text {
                        .content-author-title {
                            color: #363636;
                            font-size: 16px;
                            line-height: 20px;
                            font-weight: $medium;
                        }
                    }
                }
            }
        }
        .blogging-grid-item-grid:nth-child(1) {
            padding-right: 10px;
        }
        .blogging-grid-item-grid:nth-child(1n+1) {
            padding-right: 10px;
        }
        .blogging-grid-item-grid:nth-child(2n) {
            padding-right: 0px;
        }
    }
    .body-fix {
        margin: 0;
    }
}
@media ( max-width: $tablet ) {
    .blogging-grid-container .body .blogging-grid-item, .blogging-grid-container .body .blogging-grid-item-grid {
        width: 100%;
        max-width: 100%;
    }
}
@media ( max-width: $mobile ) {
    .blogging-grid-container {
        margin: 0;
        margin-bottom: 30px;

        .header {
            padding: 25px 15px;
        }
        .body {
            flex-direction: column !important;
            align-items: center;
            .blogging-grid-item, .blogging-grid-item-grid {
                flex-direction: column!important;
                margin-bottom: 40px!important;
                height: auto!important;
                width: 100%!important;
                align-items: center;
                .content {
                    overflow: visible;
                    width: 100%;
                    padding: 0 17px 25px;
                }
                
                h2 {
                    font-size: 22px;
                }

                a {
                    margin-bottom: 10px;
                    width: 100% !important;
                    height: 170px;
                }
            }
        }
    }
}