.doctor-directory-landing {
    background-image: url('../../img/doctor-directory/dd-landing-bg.svg');
    background-position: top -140px center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}