// Organizations Module
.light-site {

    .map-container {
        .container-header {

            &__cta {
                border-bottom: 1px solid #007bff;
            }
        }
        .locations {
            border-bottom: none;
            padding: 50px 0;
        }
    }
}

@media ( max-width: $mobile ) {

    .light-site-header-module {
        padding: 120px 0 50px 0 !important;
        .page-title {
            padding: 20px 0 !important;
        }
    }
    .light-site-subtitle {
        padding: 15px;
    }

    .map-light-sites {
        max-width: 100%;
        position: relative;
        .row {
            margin-left: 0;
            margin-right: 0;
            .item-map-light-sites {
                margin: 0px !important;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .organization-light-sites, .apps-light-sites {
        .footer-view {
            .view-all {
                font-size: 20px!important;
                margin: 30px 0 0 !important;
            }
        }
    }

    .utilities-light-sites {
        .utilities-width {
            max-width: 100%;
            position: relative;
            .row {
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
                position: relative;
                .content {
                    margin: 0 !important;
                }
                .left {
                    border: none;
                }
                .order-10 {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }

    .video-slider-light-sites {
        margin-top: -30px;
        .title {
            font-size: 25px !important;
            padding: 0 0 25px !important;
        }
    }
}