.module {
    width: 100%;
}

.padding--top-none {
    padding-top: 0;
}

.padding--bottom-none {
    padding-bottom: 0;
}

.padding--top-small {
    padding-top: 20px;
}

.padding--bottom-small {
    padding-bottom: 20px;
}

.padding--top-default {
    padding-top: 30px;
}

.padding--bottom-default {
    padding-bottom: 30px;
}

.padding--top-large {
    padding-top: 60px;
}

.padding--bottom-large {
    padding-bottom: 60px;
}

.padding--top-xlarge {
    padding-top: 90px;
}

.padding--bottom-xlarge {
    padding-bottom: 90px;
}